@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_All.cshtml";
}

<script>
    $(function () {
        initControl();
        gridList();
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/SanitationMachineCleanCar/GetWorkItemGridJson",
            height: $(window).height() - 200,
            colNames: ['主键', '序号', '打扫时间', '清扫点名称', '清扫点地址'],
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '序号', name: 'F_EnCode', align: 'left' },
                { label: '打扫时间', name: 'Time', align: 'left' },
                { label: '清扫点名称', name: 'MainId', align: 'left' },
                { label: '清扫点地址', name: 'Origin', align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: {
                    keyword: $("#txt_keyword").val()
                },
            }).trigger('reloadGrid');
        });
    }
    function initControl() {
        $("#CompanyId").bindSelect({
            url: "/SystemManage/OperationsCompany/GetCompanyTypeJDEnableGridJson",
            id: "Key",
            text: "Value"
        });

    }
    function submitForm() {
    }
</script>
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#info" data-toggle="tab">
            基本资料
        </a>
    </li>
    <li>
        <a href="#workItem" data-toggle="tab">
            车辆作业明细
        </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="info">
        <form id="formInfo">
            <div class="step-pane active" style="margin: 10px; margin-bottom: 0px;">
                <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                    <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                    请填写车辆工作项明细！
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">表单信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">编号</th>
                                <td class="formValue">
                                    <input id="F_EnCode" name="F_EnCode" type="text" class="form-control required" placeholder="请输入编号" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">车牌号</th>
                                <td class="formValue">
                                    <input id="CarId" name="CarId" type="text" class="form-control required" placeholder="请输入车牌号" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">班组名称</th>
                                <td class="formValue">
                                    <input id="TeamName" name="TeamName" type="text" class="form-control required" placeholder="请输入班组名称" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">所在公司</th>
                                <td class="formValue">
                                    <select id="CompanyId" name="CompanyId" class="form-control required"></select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">班组人数</th>
                                <td class="formValue">
                                    <input id="TeamPeopleCount" name="TeamPeopleCount" type="text" class="form-control number" placeholder="请输入班组人数" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">机扫路段</th>
                                <td class="formValue">
                                    <input id="CleanRoad" name="CleanRoad" type="text" class="form-control required" placeholder="请输入机扫路段" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">车队地址</th>
                                <td class="formValue">
                                    <input id="CarTeamAddress" name="CarTeamAddress" type="text" class="form-control required" placeholder="请输入车队地址" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">驾驶员</th>
                                <td class="formValue">
                                    <input id="Driver" name="Driver" type="text" class="form-control required" placeholder="请输入驾驶员" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="workItem">
        <div class="step-pane active" style="margin: 10px; margin-bottom: 0px;height:98%;">
            <div class="panel-heading">
                <h3 class="panel-title">车辆作业明细</h3>
            </div>
            <div class="panel panel-default ">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" onclick="btn_addWorkItem()"><span class="glyphicon glyphicon-plus-sign"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove-sign"></span></button>
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>
                <table id="gridList"></table>
                <div id="gridPager"></div>
            </div>
        </div>

    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">车辆作业明细</h4>
            </div>
            <div class="modal-body">
                <form id="formCarWorkItem">
                    <table class="form">
                        <tr>
                            <th class="formTitle">序号</th>
                            <td class="formValue">
                              <select>
                                  <option>时间</option>
                                  <option>操作</option>
                              </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">序号</th>
                            <td class="formValue">
                                <input id="Subscript" name="Subscript" type="text" class="form-control required number" placeholder="请输入序号" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">清扫时间</th>
                            <td class="formValue">
                                <input id="Driver" name="Driver" type="text" class="form-control required" placeholder="请输入清扫时间" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">清扫点名称</th>
                            <td class="formValue">
                                <input id="MainId" name="MainId" type="text" class="form-control required" placeholder="请输入清扫点名称" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">清扫点地址</th>
                            <td class="formValue">
                                <input id="Origin" name="Origin" type="text" class="form-control required" placeholder="请输入清扫点名称" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="btn_submitCarWorkItemForm()">提交更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">

    function btn_addWorkItem() {

    }
    function btn_delWorkItem() {

    }
    function btn_updateWorkItem()
    {

    }
    function btn_submitCarWorkItemForm()
    {

    }
</script>
