@{
    ViewBag.Title = "DeductForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<script src="~/Content/js/uploadify/jquery.uploadify.min.js"></script>
<link href="~/Content/js/uploadify/uploadify.css" rel="stylesheet" />

<script type="text/javascript">

    var taskEntryId = $.request("taskEntryId");
    var normId = $.request("normId");

    $(function () {
        $("#TaskEntryId").val(taskEntryId);
        $("#NormId").val(normId);

        //获取Guid
        $.ajax({
            url: "/SystemManage/SanitationTaskUpload/GetGuidId",
            dataType: "json",
            async: false,
            success: function (data) {
                $("#F_Id").val(data.id);
            }
        });

    });

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }


        $.submitForm({
            url: "/SystemManage/SanitationTaskUpload/SubmitForm?keyValue=" + $("#F_Id").val(),
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function shangchuan() {
        debugger;
        alert("123213");
        $k('#file_upload').uploadifyUpload();
        $k("#shangchuan").attr("disabled", true).attr("enabled", false);
        $k("#unshangchuan").attr("disabled", true).attr("enabled", false);

    }
    function unshangchuan() {
        $k('#file_upload').uploadifyClearQueue();
        $k("#shangchuan").attr("disabled", true).attr("enabled", false);
        $k("#unshangchuan").attr("disabled", true).attr("enabled", false);
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr hidden="hidden">
                <td>
                    <input id="TaskEntryId" name="TaskEntryId" />
                    <input id="NormId" name="NormId" />
                    <input id="F_Id" name="F_Id" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">几处</th>
                <td class="formValue">
                    <input id="DeductionSeveral" name="DeductionSeveral" type="text" class="form-control required number" placeholder="请输入几处" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">几分</th>
                <td class="formValue">
                    <input id="DeductionScore" name="DeductionScore" type="text" class="form-control required number" placeholder="请输入几分" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">描述</th>
                <td class="formValue">
                    <textarea id="DeductionDescribe" name="DeductionDescribe" placeholder="请输入描述"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">图片</th>
                <td class="formValue">
                    <div id="some_file_queue">
                    </div>
                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                    <input type="button" value="上 传" id="shangchuan" />&nbsp;&nbsp;&nbsp;<input id="unshangchuan" type="button" name="Submit2" value="取消上传"  />
                </td>
            </tr>
        </table>
    </div>
</form>
<script>
    $(function () {
        var img_id_upload = new Array();
        var i = 0;
        

        $("#file_upload").uploadify({
            'buttonText': '上传图片文件',
            'auto': false,
            'swf': 'http://localhost:1851/Content/js/uploadify/uploadify.swf',
            'uploader': 'http://localhost:1851/SystemManage/SanitationTaskUpload/Upload?deducInsId=' + $("#F_Id").val(),
            'queueID': 'some_file_queue',
            'cancelImg': 'http://localhost:1851/Content/js/uploadify/uploadify-cancel.png',
            'uploadLimit': 999,
            'fileTypeExts': '*.png;*.jpg;',
            'fileTypeDesc': 'png文件(*.png)',
            'onCancel' : function(file) {
            },
            'onSelect': function (file) {
                //this.addPostParam("file_name", file.name);
                //this.addPostParam("file_name", encodeURI(file.name)); //改变文件名的编码
                //this.addPostParam("file_name", encodeURIComponent(escape(file.name))); //改变文件名的编码
            },
            'onUploadSuccess': function (file, data, response) {
                img_id_upload[i] = data;
                i++;
            },
            'onQueueComplete': function (data) {
                if (img_id_upload.length > 0) {
                    alert('一共上传了' + img_id_upload.length + '个文件!');
                }
            }
        });

        $("#shangchuan").click(function () {     //上传按钮
            debugger;
            $('#file_upload').uploadify('upload', '*');
        })

        $("#unshangchuan").click(function () {    //取消全部按钮
            $('#file_upload').uploadify('cancel', '*')
           
        })
        
    });
    
</script>